* {
  box-sizing: content-box;
}

.container {
  background-color: rgb(247, 238, 238);
  width: 1200px;
  height: 675px;
  margin: auto;
}

.box {
  background-color: white;
  width: fit-content;
  height: 503px;
  border: 0.7px solid #d7d7d7;
  margin-top: 20%;
  margin-left: 20%;
}

.description, .image {
  display: inline-block;
  width: 376px;
  height: 375px;
  vertical-align: middle;
}

.image {
  margin-top: 50px;
}

.description {
  margin-top: 50px;
}

.heading {
  font-family: Arial;
  font-size: 22.5px;
  font-weight: 700;
  color: #2f2f2f;
}

.text {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  color: #2f2f2f;
}

.price {
  font-family: Arial;
  font-size: 30px;
  font-weight: 400;
  color: #2f2f2f;
  margin-bottom: 50px;
}

.button {
  width: 252px;
  height: 50px;
  background-color: #ec744a;
  border: none;
  color: white;
  font-family: Arial;
  font-size: 18.8px;
  font-weight: 400;
}
